.LogInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Set the height of the container */
  }
  
  .LogInContainer h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .LogInContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .LogInContainer input {
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
  }
  
  .LogInContainer button {
    padding: 10px 20px;
    background-color: #ff6347;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .LogInContainer button:hover {
    background-color: #d84315;
  }